services:
  postgres:
    image: postgres:16
    container_name: test_infokes_db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: explorer
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: